<link rel="stylesheet" href="../../assets/css/main.css" />

First Name: <input type="text" name="fname" [(ngModel)]="formObj.value.fName" placeholder="Type your first name here...">
<!--enter validation-->
<br />
Last Name: <input type="text" name="lname" [(ngModel)]="formObj.value.lName" placeholder="Type your last name here...">
<!--enter validation-->
<br />
Email: <input type="text" name="email" [(ngModel)]="formObj.value.email" placeholder="Type your email here...">
<br />
Contact: <input type="tel" name="contact" [(ngModel)]="formObj.value.contact" placeholder="Type your contact here...">
<br />
Date of Birth: 
<br/>
<input type="date" name="dob" [(ngModel)]="formObj.value.dob">
<br />
<br />
Username: <input type="text" name="username" [(ngModel)]="formObj.value.username" placeholder="Type your username here...">
<br />
Password: <input type="password" name="password"[(ngModel)]="formObj.value.password" placeholder="Type your password here...">
<br />

<input type="submit" name="btn_submit" value="Submit" (click)="register()" ng-click="register()" >

<input type="reset" name="btn_reset" value="Reset" (click)="reset()" ng-click="reset()">

