<link rel="stylesheet" href="../../assets/css/main.css" />

<!-- Post -->
<article class="post"> <a href="#" class="image featured"><img src="../../assets/images/cafe-rules.png" alt="" /></a>
<p>When you enter the cafe, you will be asked to take off your shoes and wash your hands. This is for the benefit of our cats who live, eat and sleep in the cafe – so we want to keep this space as clean and hygienic as possible for them.</p>
<footer>
<ul class="actions">

</ul>

</footer>
</article>

<!-- Post -->



<p><strong><em>1. No other Animals:</em></strong> 
<p>You are not allowed to bring any other animals into The Cafe.</p>
</p>

<p><strong><em>2. Age Requirements:</em></strong>           

<p>2.1     No child(ren) below the age of 7 are allowed into the space (the “Cat Space”) where the resident cat(s) (the “Cats”) are housed within The Cafe. Child(ren) over the age of 7 but under the age of 14 may enter the Cat Space on the strict condition that they shall be supervised by an adult at all times due to safety reasons. For clarity, the supervising adult is required to pay for his/her admission ticket. </p>

<p>2.2     Youths over the age of 14 years old may enter The Cafe without adult supervision but this shall be at the sole risk and responsibility of their parent and/or guardian.</p>

</p>



<p><strong><em>3. Variations to booking capacity:</em></strong> 
<p>The Cafe reserves the right to vary or cancel any prices, booking capacity, events, programmes and any terms relating to the participation in The Cafe at any time without prior notice to you.</p>
</p>

<p><strong><em>4. Conditions of entry:</em></strong>
<p>Admission to The Cafe is subject to compliance with the Terms at all times. The Cafe shall be entitled at its sole discretion to deny entry to you and/or remove you from The Cafe at any time if in the sole opinion of the staff and management at The Cafe that you have breached any of the Cafe Rules or the Terms, or adversely affecting the enjoyment of The Cafe by others or the safety of the Cats. Cat abusers will be reported to the police pursuant to Section 42 of the Animal and Birds Act (Chapter 7) as amended by the Animal and Birds Act (Amendment) Act 2014.</p>
</p>

<p><strong><em>5. Release, Waiver and Indemnity:</em></strong>

<p>5.1.     When interacting with the Cats at The Cafe, you agree and acknowledge there are inherent risks and hazards, potential or otherwise involved including risks of bites, scratches or otherwise which cause losses (including indirect or consequential losses), death, personal injury, disease, allergies, illness, discomfort, pain or suffering, property damage and/or any other damage of whatsoever nature and howsoever caused, to you, your child(ren), your other invitee(s), your property and/or the property of others whether caused by any intentional or negligent act, fault and/or omission by (i) the Cats, The Cafe and/or its directors, shareholders, agents, owners, employees,  independent contractors, insurers, successors, assigns, legal representatives (collectively the “Cafe Indemnitees”) and (ii) any other customer or person at The Cafe (collectively the “Losses”) while participating in any activities within The Cafe.</p>

</p>


<p><strong><em>6. Errors:</em></strong>
<p> While The Cafe takes all reasonable care to ensure that all prices and information on this website are correct, sometimes errors may occur and The Cafe has the right in its sole discretion to cancel any bookings made as a result of any error.</p>
</p>
