<link rel="stylesheet" href="../../assets/css/main.css" />

Cat Name: <input type="text" name="catname" [(ngModel)]="formObj.value.name" placeholder="Type cat name here...">
<br />
Cat Description: <textarea name="catdesc" [(ngModel)]="formObj.value.desc" placeholder="Type cat description here..."></textarea>
<br />
Cat Gender: 
<select name="gender" [(ngModel)]="formObj.value.gender">
<option value="Female">Female</option>
<option value="Male">Male</option>
</select>
<br />
Cat Age: <input type="text" name="catage" [(ngModel)]="formObj.value.age"  placeholder="Type cat age here...">

<br/>

<input type="submit" name="btn_submit" value="Submit" (click)="sendForm()" ng-click="sendForm()" >

