<link rel="stylesheet" href="../../assets/css/main.css" />

<!-- Post-->
<article>
    <section>

      <h2>Where Are We</h2>
      <p>Bugis 123 #01-123 S(123456)</p>

      <h3>How to Get Here</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a rutrum leo. Vivamus mattis vel.</p>
      <br/>
      <h2>Opening Hours</h2>
      <p>Weekdays: 11am - 7pm
        <br/>

        Weekends: 12pm - 9pm
        <br/>
          
        Closed on Public Holidays</p>

        <h2>Admission Fees</h2>
        <p>Children (Age 5 and above) : $10/ per hour
          <br/>

          Adult : $15/ per Hour</p>
          
        </section>
</article>