<link rel="stylesheet" href="../../assets/css/main.css" />
 
 <section>
    <h2>Our Furry Friends</h2>
    <div class="box alt">
      <div class="row uniform">
        <div class="12u$"><span class="image fit"><img src="../../assets/images/150708_CaTherapy_039.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="../../assets/images/141219_NNW_032.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="../../assets/images/131204_NekoNoNiwa_064.jpg" alt="" /></span></div>
        <div class="4u$"><span class="image fit"><img src="../../assets/images/131204_NekoNoNiwa_074.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="../../assets/images/pic02.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="../../assets/images/pic04.jpg" alt="" /></span></div>
        <div class="4u$"><span class="image fit"><img src="../../assets/images/pic06.jpg" alt="" /></span></div>
                              
                              <div class="4u"><span class="image fit"><img src="../../assets/images/cat1.jpeg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="../../assets/images/cat2.jpg" alt="" /></span></div>
        <div class="4u$"><span class="image fit"><img src="../../assets/images/cat12.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="../../assets/images/christmascat1.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="../../assets/images/christmascat2.jpg" alt="" /></span></div>
        <div class="4u$"><span class="image fit"><img src="../../assets/images/christmascat3.jpg" alt="" /></span></div>
                              <div class="4u"><span class="image fit"><img src="../../assets/images/christmascat4.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="../../assets/images/christmascat5.jpg" alt="" /></span></div>
        <div class="4u$"><span class="image fit"><img src="../../assets/images/christmascat6.jpg" alt="" /></span></div>
                              
                              <div class="4u"><span class="image fit"><img src="../../assets/images/cat11.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="../../assets/images/cat14.jpg" alt="" /></span></div>
        <div class="4u$"><span class="image fit"><img src="../../assets/images/cat13.jpg" alt="" /></span></div>
                              
        <div class="4u"><span class="image fit"><img src="../../assets/images/pic09.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="../../assets/images/pic11.jpg" alt="" /></span></div>
        <div class="4u$"><span class="image fit"><img src="../../assets/images/pic10.jpg" alt="" /></span></div>
      </div>
    </div>
    
    
</section>