<link rel="stylesheet" href="../../assets/css/main.css" />

<div id="main" [hidden]="showForm">
    <table>
        <tr *ngFor="let cat of catName">
            <td>
                {{ cat.nric  }}   |   {{cat.name}}
            </td>
            <td>
                <button (click)="reviewForm(cat)" ng-click="reviewForm(cat)">Review</button>
            </td>
        </tr>
    </table>    
</div>
    <div id="main" [hidden]="!showForm">

            NRIC: <input type="text" name="nric"  [(ngModel)]="formObj.value.nric" disabled>
            <br />
            Name: <input type="text" name="name"  [(ngModel)]="formObj.value.name" disabled>
            <br />
            Address: <input type="text" name="address"  [(ngModel)]="formObj.value.address" disabled>
            <br />
            Email: <input type="email" name="email"  [(ngModel)]="formObj.value.email" disabled>
            <br />
            Contact: <input type="tel" name="contact"  [(ngModel)]="formObj.value.contact" disabled>
            <br />
           Number of Pets: <input type="number" name="petsnumber"  [(ngModel)]="formObj.value.noOfPets" disabled>
            <br />
            <br/>
            Household Type: <input type="text" name="household"  [(ngModel)]="formObj.value.householdType" disabled>
            <br />
            Which cat would you like to adopt? 
            <select [(ngModel)]="formObj.value.catSelect" disabled>
                    <option 
                      value="{{cat.name}}" 
                      *ngFor="let cat of realCatName">
                      {{cat.name}}
                    </option>
                  </select> 
            <br/>
            
            <input type="button" name="btn_back" value="Back" (click)="goBack()" ng-click="goBack()">

        </div>