<link rel="stylesheet" href="../../assets/css/main.css" />

NRIC: <input type="text" name="nric" [(ngModel)]="formObj.value.nric" placeholder="Type your NRIC here...">
<br />
Name: <input type="text" name="name" [(ngModel)]="formObj.value.name" placeholder="Type your name here...">
<br />
Address: <input type="text" name="address" [(ngModel)]="formObj.value.address" placeholder="Type your address here...">
<br />
Email: <input type="email" name="email" [(ngModel)]="formObj.value.email" placeholder="Type your email here...">
<br />
Contact: <input type="tel" name="contact" [(ngModel)]="formObj.value.contact" placeholder="Type your contact here...">
<br />
Number of Pets: <input type="number" name="petsnumber" [(ngModel)]="formObj.value.noOfPets" placeholder="Enter the number of pets you currently have...">
<br />
<br/>
Household Type: <input type="text" name="household" [(ngModel)]="formObj.value.householdType" placeholder="Type your household type here...">
<br />
Which cat would you like to adopt? 
<select [(ngModel)]="formObj.value.catSelect">
        <option 
          value="{{cat.name}}" 
          *ngFor="let cat of catName">
          {{cat.name}}
        </option>
      </select> 
<br/>

<input type="submit" name="btn_submit" value="Submit" (click)="sendForm()" ng-click="sendForm()" >

<input type="reset" name="btn_reset" value="Reset" (click)="reset()" ng-click="reset()">
