<link rel="stylesheet" href="../../assets/css/main.css" />

<!-- Post -->
<article class="post">
    <iframe width="740" height="480" src="https://www.youtube.com/embed/tblT_SKHfPk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

      <p>Check out Zoe's vlog on her visit to Little Tails!</p>
    </article>

  <!-- Post -->
    <article class="post"> <a href="#" class="image featured"><img src="../../assets/images/pic01.jpg" alt="" /></a>
      <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </article>

  <!-- Post -->
    <article class="post"> <a href="#" class="image featured"><img src="../../assets/images/pic02.jpg" alt="" /></a>
      <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.</p>
    </article>

  <!-- Post -->
    <article class="post"> <a href="#" class="image featured"><img src="../../assets/images/pic03.jpg" alt="" /></a>
      <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Cras vehicula tellus eu ligula viverra, ac fringilla turpis suscipit. Quisque vestibulum rhoncus ligula.</p>
    </article>