<link rel="stylesheet" href="../../assets/css/main.css" />
<div id="main" [hidden]="showForm">
    <table>
        <tr *ngFor="let cat of catsss">
            <td>
                {{cat.name}}
            </td>
            <td>
                <button ng-click="reviewForm(cat)" (click)="reviewForm(cat)">Review</button>
            </td>
        </tr>
    </table>
</div>
<!-- Main -->
<div id="main" [hidden]="!showForm">

        Cat Name: <input type="text" name="catname" value="Cat 1"  [(ngModel)]="formObj.value.name" placeholder="Type cat name here...">
        <br />
        Cat Description: <textarea name="catdesc"  [(ngModel)]="formObj.value.desc" placeholder="Type cat description here...">Blah blah blah descriptions here</textarea>
        <br />
        Cat Gender: 
        <select name="gender">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                </select>
        <br />
        Cat Age: <input type="text" name="catage" value="4 months" [(ngModel)]="formObj.value.age" placeholder="Type cat age here...">

        <br />
        Date of Adoption: 
        <br/>
        <input type="date" name="adoptdate" [(ngModel)]="formObj.value.dateOfAdoption">
        <br />
        <br/>
		<div>
			<span><input type="submit" name="btn_submit" value="Submit" (click)="editCatProfile()" ng-click="editCatProfile()"></span>
			<span><input type="submit" name="btn_delete" value="delete" (click)="deleteCatProfile()" ng-click="deleteCatProfile()"></span>
		</div>
        

        <br/>
        

    </div>
